body{
margin:0;
background:#111;
color:#00ff00;
font-family: monospace;
overflow:hidden;
}

#start-screen{
text-align:center;
margin-top:150px;
color:white;
}

button{
padding:12px 25px;
border:none;
background:#ff0066;
color:white;
cursor:pointer;
border-radius:10px;
font-size:18px;
}

button:hover{
transform:scale(1.1);
}

.hidden{
display:none;
}

#terminal{
padding:20px;
white-space:pre-wrap;
font-size:16px;
}
